/* =====================
   BLOGS SECTION
===================== */
.blogs-section {
  padding: 80px 0;
  background-color: var(--bg-main);
}
/* Title */
.blogs-heading {
  font-size: 36px;
  color: #5eead4;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
}
.blogs-text {
  text-align: center;
  color: var(--text-muted);
  margin-bottom: 50px;
}
/* Blog Card */
.blogs-grid {
  display: flex;
  justify-content: center;
}
.blog-card {
  display: flex;
  gap: 32px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px;
  max-width: 900px;
}
/* Image */
.blog-image img {
  width: 260px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
}
/* Content */
.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #5eead4;
}
.blog-description {
  font-size: 14px;
  color: var(--text-muted);
  line-height: 1.6;
  margin-bottom: 16px;
}
/* Read More */
.blog-read {
  font-size: 14px;
  color: #5eead4;
  font-weight: 500;
}
.blog-read:hover {
  text-decoration: underline;
}
/* Buttons */
.blogs-actions {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn {
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}
/* View More */
.btn-outline {
  color: black;
  background: #5eead4;
}
.btn-outline:hover {
  border: 1px solid #5eead4;
  background: var(--primary);
  color: white;
}
/* Subscribe */
.btn-primary {
  background: var(--primary);
  border: 1px solid #5eead4;
  color: white;
  /* margin-bottom: 30px; */
}
.btn-primary:hover {
  opacity: 0.7;
}
/* =====================
   Responsive
===================== */
@media (max-width: 768px) {
  .blog-card {
    flex-direction: column;
    text-align: center;
  }
  .blog-image img {
    width: 100%;
    height: 200px;
  }
  .blog-content {
    align-items: center;
  }
}


/* =====================
   Details SECTION
===================== */
.details-heading{
  display: flex;
  justify-content: center;
  color: #5eead4;
  margin-top: 120px;
  margin-bottom: 60px;
  font-size: 48px;
}
.details-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   max-width: 500px;
   margin-left: auto;
   margin-right: auto;
}
.details-image img{
  max-width: 450px;
  object-fit: cover;
}
.details-head h5{
  margin-left: 0px;
  margin-right: auto;
  color: #5eead4;
  margin-top: 20px;
}