/* =====================
   CONTACT SECTION
===================== */
.contact-section {
  padding: 100px 0;
  background-color: var(--bg-main);
}
/* Container */
.contact-container {
  max-width: 520px;
  margin: 0 auto;
}
/* Headings */
.contact-heading {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #5eead4;
}
.contact-text {
  text-align: center;
  color: var(--text-muted);
  margin-bottom: 60px;
}
/* Message Heading */
.message-heading {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 32px;
  border: 1px solid #5eead4;
  display: block;
  padding: 10px;
  width: fit-content;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}
/* Form */
.message-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
/* Field Group */
.field-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.field-group label {
  font-size: 14px;
  color: var(--text-muted);
}
.row{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}
/* Inputs and Textarea */
.field-group input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #5eead4;
  margin-top: 20px;
  color: var(--text-main);
  font-size: 12px;
  outline: transparent;
}
.row .field-group input{
  width: 250px !important;
}
.field-group input:last-child{
  width: 100%;
}
.field-group input::placeholder{
  color: var(--text-muted);
}
.field-group input:focus {
  border-color: var(--primary);
}
/* Send Button */
.send-button {
  margin-top: 30px;
  padding: 12px;
  background-color: var(--bg-brand);
  border: none;
  border-radius: 24px;
  color: black;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s easeOut;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.send-button:hover {
  background-color: #5ab3a5;
}
/* Responsive */
@media (max-width: 768px) {
  .message-box {
    padding: 24px;
  }
}
